/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
:root {
  --viewbox-width: min(100vw, 16 / 9 * 100vh);
  --viewbox-height: min(100vh, 9 / 16 * 100vw);
  --grid-gap: calc(0.005 * var(--viewbox-width));
  --nav-height: 5em;
  --footer-height: 2em;
  --main-height: calc(
    var(--viewbox-height)
    - var(--nav-height)
    - var(--footer-height)
    - 2 * var(--grid-gap)
  );
}
// #app {
//   min-width: 920px;
// }

body {
  font-size: 14px;
}
table, tr, th, td {
  border-collapse: collapse;
}
.text-right {
  text-align: right;
}

.tile-button {
  display: flex;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  font-size: 0.95em;

  button {
    display: block;
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    background-color: #ededed;
    overflow: hidden;
  }
}

.grid-item-extend-x {
  grid-column: span 2;

  // &.tile-button {
  //   aspect-ratio: 2;
  // }
}

.grid-item-extend-y {
  grid-row: span 2;

//   &.tile-button {
//     aspect-ratio: 0.5;
//   }
}

.v-dialog.popup-dialog {
  .v-card {
    border-radius: 3px;
    border: 1px solid lightgray;
  }
  .v-card-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    color: white;
    background-color: blue;

    .btn-close {
      background: linear-gradient(to top right, red, rgb(255, 115, 0));
      color: white;
      font-weight: bold;
      padding: 5px;
      height: unset;
      min-width: unset;
    }
  }
}
.popup-dialog .v-card .v-card-text {
  padding-top: 1em;
}